.input-field {
    box-sizing: border-box;
    background-color: transparent;
    border: 0;
    font-size: .875rem;
    padding: .4rem;
}

.title-field {
    border: 0;
    font-size: 1.3rem;
    width: 100%;
}

.input-field--time,
.input-field--date{
    font-size: 0.874rem;
    padding: .4rem;
    text-align: center;
    border: 2px solid #F5F5F5;
}

.input-field--time {
    width: 33%;
}

.input-field--time:focus,
.input-field--date:focus {
    border-bottom: 2px solid #4F86EC !important;
    outline: none !important;
}

.input-field--title {
    font-size: 1.5rem;
}

.input-field--title:focus {
    outline: none;
}

.input-field--error,
.input-field--error:focus {
    border-bottom: 2px solid #cc0000 !important;
    background-color: #f9e5e5;
}