.btn {
    /* Generic */
    background-color: #4285f4;
    border-radius: 3px;
    border-width: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .6);
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    padding: 0.4rem 0.8rem;
    transition: background-color .3s;
    
}

.btn--float {
    bottom: 1.5rem;
    position: fixed;
    right: 1.5rem;
}

.btn--round {
    border-radius: 100px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .6);
    height: 90px;
    width: 90px;

}

.bg-red {
    background-color: #e74c3c;
}

.btn--square {
    border-radius: 3px;
}