.logo {
    display: flex;
    align-items: center;
    margin-left: 1em;
}

.logo__img {
    height: 40px;
    width: 40px;
}

.logo__text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #666666;
    margin: 0;
    margin-left: 1rem;
    font-size: 1.25rem;
}