.calendar-day {
    border-bottom: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    box-sizing: border-box;
    color: #333;
    height: 148px;
    line-height: 32px;
    padding-left: .8rem;
    width: 14.2857143%;
}
