.container {
  width: 100%;
      margin-right: auto;
    margin-left: auto;
}

.week {
  display: flex;
  border-bottom: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  width: 100%;
}

.calendar {
  width: 100%;
  border-right: 1px solid #e0e0e0;
}

.fa-clock {
  color: #333;
  margin-right: 1rem;
}

.datetime-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
}