.container {
  width: 100%;
      margin-right: auto;
    margin-left: auto;
}

.week {
  display: flex;
  border-bottom: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  width: 100%;
}

.calendar {
  width: 90%;
  border-right: 1px solid #e0e0e0;
}