.masthead {
    display: flex;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    align-items: center;
}

.masthead__title {
    color: #666;
    margin: 0; 
    font-size: 1.25rem;
    font-weight: 400;
}